# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# environment
.env
.env.development
.env.production
.env.test

# mysql deploy init scripts
/docker/provision/mysql/init/init.sql

# testing
/coverage

# production
/dist

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*